#sidebar {
	position: fixed;
	top: 0;
	transition: width 333ms ease;
	background-color: #232323;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	overflow: auto;
	z-index: 10;
	height: 100vh;
	width: 6rem;
}

#sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

#sidebar li {
	width: 100%;
}

.navLink:first-of-type {
	width: 100%;
}

#sidebar li:last-child {
	margin-top: auto;
}

.navLink {
	display: flex;
	align-items: center;
	height: 5rem;
	color: white;
	text-decoration: none;
	filter: grayscale(100%) opacity(0.7);
	transition: background 0.2s ease-in-out;
	overflow: hidden;
}

.navLink:not(.active):hover,
.navLink:not(.active):focus {
	filter: grayscale(0%) opacity(1);
	background: dodgerblue;
}

.navLink.active,
.navLink.active * {
	transition: background 0.2s ease-in-out;
	cursor: default;
	color: dodgerblue;
	stroke: dodgerblue;
	fill: dodgerblue;
	filter: none;
	background-color: #1e1e1e;
}

.navLink.active:hover,
.navLink.navLink.active:hover *,
.navLink.active:focus,
.navLink.navLink.active:focus * {
	background-color: #121212;
}

.navLink svg {
	width: 2rem;
	min-width: 2rem;
	margin: 0 2rem;
}

.linkText {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

hr {
	width: 90%;
	margin: 0;
	border-color: white;
	box-sizing: border-box;
	border-top-width: 0px;
}

li button {
	background-color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
}

.noFill {
	fill: none !important;
}
