@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
	--darkBackgorund: #121212;
	--consoleBackground: #21262b;
	--primary: #1576d6;
	--primaryDark: #0a5da6;
	--lightPrimary: #e5e8ef;
	--success: rgb(100, 189, 58);
	--danger: #fb4747;
	--dangerDark: #fa2e2e;
}

body {
	margin: 0;
	font-family: "Roboto", sans-serif !important;
	min-height: 100vh;
	width: 100%;
	color: white;
}

main {
	position: relative;
	padding: 8px;
	left: 96px;
	top: 80px;
	box-sizing: border-box;
	width: calc(100% - 6rem);
	height: calc(100vh - 80px);
	background-color: var(--lightPrimary);
}

input:disabled {
	opacity: 0.5;
	pointer-events: none;
}

/* Buttons - Primary*/
.button {
	border-radius: 0.4rem;
	padding: 8px 16px;
	min-width: 5rem;
	transition: all 0.1s ease-in-out;
	background-color: var(--primary);
	border: none;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

.button[type="submit"]:hover,
.button[type="submit"]:active {
	background-color: var(--primaryDark);
}

.button:focus {
	outline: var(--primaryDark) solid;
}

button button:disabled {
	filter: brightness(80%) grayscale(10%);
	pointer-events: none;
}

/* Buttons - Secondary*/

.button.secondary {
	background-color: inherit;
	border: 1px var(--lightPrimary) solid;
	color: var(--primary);
}

.button.secondary:hover,
.button.secondary:active {
	background-color: var(--lightPrimary);
}

/* Buttons - Danger*/

.button.danger {
	background-color: var(--danger);
	outline: var(--primary);
}

.button.danger:hover,
.button.danger:active {
	background-color: var(--dangerDark);
}

.button.danger:focus {
	outline: var(--primary) solid;
}

/*Spinner yoinked from https://loading.io/css/*/
.spinner {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.spinner::after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: spin 1.2s linear infinite;
}

.spinner.dark::after {
	border-color: #363636 transparent #363636 transparent;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
